body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

/*div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}*/

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

/*div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}*/

.breadcrumbs{
	background-color: #CFCFCF;
	/*background: url("bg.gif") repeat-x scroll left top white;*/
	padding: 5px 10px 5px 10px;
	border-radius: 4px;
	color:#FFFFFF;
	margin-top: 5px;
}

.breadcrumbs a{
	color: #428bca;
	font-weight: bold;
}

.breadcrumbs span{
	color: #000000;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

.titulo-portada{
	font-size: 15pt;
	font-weight: bold;
	text-align: center;
	font-family: arial;
}

.descripcion-proyecto{
	font-size: 12pt;
	font-family: arial;
	padding-top: 15px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: justify;
}

.integrantes{
	padding-top: 10px;
}

.integrantes ul li{
	list-style: none;
	background: url('../images/vineta.png') left top no-repeat;
	padding-left: 20px;
	padding-bottom: 5px;
}

.contenido{
	height: 1000px;
	filter:alpha(opacity=30);
	-moz-opacity:.30;
	opacity:.30;
	background:url("../images/marca-agua.jpg");
	background-size: 70%;
	background-repeat: no-repeat;
	/*background-image: url("../images/marca-agua.jpg");
	background-size: 100%;
	opacity: 0.5;
    background-repeat: no-repeat;*/
}

.centro{
	text-align: center;
}

.vcentro{
	vertical-align: middle !important;
}

.derecha{
	text-align: right;
}

.izquierda{
	text-align: left;
}

.justificado{
	text-align: justify;
}

.br{
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.br2{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.brsi{
    -webkit-border-top-left-radius: 8px;
    -moz-border-radius-topleft: 8px;
    border-top-left-radius: 8px;
}

.brsd{
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    border-top-right-radius: 8px;
}

.brii{
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-bottom-left-radius: 8px;
}

.brid{
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    border-bottom-right-radius: 8px;
}

.sin-registro{
	color: red;
	text-align: center;
	font-size: 12pt;
}

.icono-tabla{
	font-size: 14pt;
	cursor: pointer;
}

.usuario-conectado{
	font-size: 12pt;
	font-weight: bold;
	text-align: right;
	margin-bottom: -15px;
}

#cargando{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    /*background-image:url('../images/loading.gif');*/
    background: #000000;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    border:solid;
    text-align: center;
    vertical-align: middle;
    padding-top: 10%;
    display: none;
}

.enlace{
	cursor: pointer;
}

.div-campo{
	border: 1px solid #CCCCCC;
	float:left;
	width:96%;
	min-height: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	background: #EEEEEE;
}

.tabla-integrantes{
	font-size: 10pt;
}

.filas-integrantes{
	border: 1px solid #000000 !important;
}

.letra-amarilla{
	color:#AEB404;
}

.letra-verde{
	color: #298A08;
}

.letra-azul{
	color:#2E2EFE;
}

.letra-roja{
	color:red;
}

.negrita{
	font-weight: bold;
}

.form-control2{
	border: solid 1px #CCCCCC;
	border-radius: 4px;
	padding: 5px 15px 5px 15px;
}

.form-control2 p{
	text-align: justify;
}

.flash-success{
	background: rgba(8,138,8,.5);
	margin-top: 7px;
	border-radius: 5px;
	padding: 5px;
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
}

.flash-warning{
	background: rgba(215,223,1,.5);
	margin-top: 7px;
	border-radius: 5px;
	padding: 5px;
	text-align: center;
	color: #000000;
	font-weight: bold;
}

.flash-danger{
	background: rgba(223,1,1,.5);
	margin-top: 7px;
	border-radius: 5px;
	padding: 5px;
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
}


.mostrar-horarios{
	border: 1px solid #000000;
	max-height: 700px;
	overflow-y: scroll;
	overflow-x: none;
}

.horarios-detalles{
	font-size: 8pt;
}

.datos-horas{
	font-size: 8pt;
	padding: 3px !important;
}

.mayuscula{
	text-transform: uppercase;
}