.titulo{
	text-align: center;
	font-weight: bold;
	font-size:16pt;
	text-decoration: underline;
}

.contenido{
	text-align: justify;
	font-size: 12pt;
	line-height: 20pt;
}

.centrar{
	text-align: center;
}

.negrita{
	font-weight: bold;
}

.cabecera-carta{
	text-align: center;
	font-size: 9pt;
	font-weight: bold;
}

.horario{
  display:block;
  page-break-before:always;
}

.table{
	border:1px solid #000;
}

.table tr td{
	padding: 2px 2px 2px 2px;
	border:1px solid #000;
}

.table tr th{
	padding: 2px 2px 2px 2px;
	border:1px solid #000;	
}

.tabla-encabezado tr td{
	padding: 5px 5px 5px 5px;
	border: none;
}


.sin-borde tr td{
	border: none;
}

.titulo-docente-carga{
	font-size: 8pt;
}

.carga-detalle{
	font-size:8pt;
}